/* reset */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

p, a, ul, li, span {
  padding: 0;
  margin: 0;
}

/* dom node */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 a {
  font-size: 1.5rem;
  margin-top: 50px;
  color: #ff6d6d;
}

h3 {
  color: #ff6d6d;
  border-bottom: 1px solid #eee;
  width: 100%;
}

li {
  list-style: none;
  font-size: 0.75rem;
}

p {
  font-size: 0.75rem;
  padding: 4px 0;
}

a {
  font-size: 0.75rem;
  color: #ff7a85;
  text-decoration: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 900px;
  width: 100%;
  height: auto;
  margin: 40px 0;
  margin-bottom: 0px;
  border-top: 1px solid #ff6d6d;
}

section:nth-of-type(1) {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: revert;
          flex-direction: revert;
}

.top {
  width: 15px;
  height: 15px;
  padding: 15px;
  border: 1px solid;
  position: fixed;
  right: 50px;
  bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
}

@media (max-width: 700px) {
  .top {
    right: 20px;
  }
}

.nav {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav a {
  border-bottom: 1px solid;
  padding: 4px 8px;
  margin: 4px 8px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  font-size: 1rem;
}

@media (max-width: 700px) {
  .nav a {
    font-size: 0.75rem;
  }
}

.nav a:hover {
  background: #ff6d6d;
  color: #fff;
  border-bottom: 1px solid #ff6d6d;
}

.svg-basic p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.svg-basic span:before {
  content: '<![CDATA ]>';
  color: #a0a0a0;
  font-size: 0.75rem;
}

.svg-basic ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.svg-basic ul li div {
  padding: 8px;
  border: 1px solid #eee;
  margin-right: 10px;
  margin-top: 8px;
}

@media (max-width: 700px) {
  .svg-basic ul li div {
    padding: 4px 0;
    margin-right: 4px;
  }
}

.svg-basic div svg {
  width: 200px;
}

.svg-basic div .svg1 {
  width: 70px;
  padding: 10px 40px;
  padding-bottom: 4px;
}

.shapes {
  position: relative;
}

.shapes p {
  width: 100%;
}

.shapes ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 220px;
}

.shapes ul li div {
  padding: 24px;
  border: 1px solid #eee;
}

@media (max-width: 700px) {
  .shapes ul li div {
    padding: 4px;
  }
}

.shapes ul li svg {
  width: 200px;
  margin: 8px;
  border: 1px solid #eee;
  margin-left: 0px;
}

@media (max-width: 700px) {
  .shapes ul li svg {
    width: 290px;
  }
}

.shapes div rect, .shapes div circle, .shapes div ellipse {
  position: absolute;
}

.shape-double-border ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shape-double-border ul li .css-outline {
  margin-right: 40px;
}

@media (max-width: 700px) {
  .shape-double-border ul li .css-outline {
    margin-right: 4px;
  }
}

.shape-double-border ul li .css-outline-polygon {
  outline: 1px solid #f5a6ac;
  outline-offset: 5px;
}

.shape-double-border ul li .css-boxshadow {
  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #f5a6ac;
          box-shadow: 0 0 0 3px #fff, 0 0 0 4px #f5a6ac;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 5px;
}

@media (max-width: 700px) {
  .shape-double-border ul li .css-boxshadow {
    margin-right: 4px;
  }
}

.shape-double-border ul li .reuse {
  margin-top: 20px;
}

.tf div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 8px;
}

.tf div ul li {
  width: 110px;
  height: 50px;
  background: #fff;
  border: 2px solid #ff6d6d;
  opacity: .7;
  margin: 2px;
  padding: 4px;
}

.tf div ul li:hover {
  z-index: 2;
}

@media (max-width: 700px) {
  .tf div ul li {
    width: 130px;
    margin: 4px;
  }
}

.tf div .scale:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #ffdbdd;
}

.tf div .rotate:hover {
  -webkit-transform: scale(1.1) rotate(-15deg);
          transform: scale(1.1) rotate(-15deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #ffdbdd;
}

.tf div .skew:hover {
  -webkit-transform: scale(1.1) skew(10deg);
          transform: scale(1.1) skew(10deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #ffdbdd;
}

.tf div .translate:hover {
  -webkit-transform: scale(1.1) translate(15px, -15px);
          transform: scale(1.1) translate(15px, -15px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #ffdbdd;
}

.tf div .transform-origin:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #ffdbdd;
}

.tf div .transform-origin-rotate:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ffdbdd;
}

.tf div .color:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #ffdbdd;
  color: #ff6d6d;
}

.move svg {
  width: 100%;
}

.move tspan {
  fill: #ff7a85;
}

.effect ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.effect ul li {
  position: relative;
  height: 230px;
  width: 170px;
  border: 1px solid #eee;
  margin-right: 20px;
  padding: 8px;
}

@media (max-width: 700px) {
  .effect ul li {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100%;
  }
}

.effect ul li:nth-of-type(3) {
  width: 300px;
}

@media (max-width: 700px) {
  .effect ul li:nth-of-type(3) {
    width: 100%;
  }
}

.effect ul li .hooks-main1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: url("#goo");
          filter: url("#goo");
  overflow: hidden;
}

.effect ul li .hooks-main1 > svg {
  display: none;
}

.effect ul li .hooks-main1 > div {
  background: #f5a6ac;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #e9a6f5), color-stop(35%, #ffecdb), color-stop(70%, #f5a6ac));
  background: linear-gradient(90deg, #e9a6f5 10%, #ffecdb 35%, #f5a6ac 70%);
  opacity: 0.8;
  position: absolute;
  top: 50px;
  left: 45px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.effect ul li .hooks-main2 {
  -webkit-filter: url("#goo2");
          filter: url("#goo2");
  width: 100%;
  height: 100%;
}

.effect ul li .hooks-main2 div {
  position: absolute;
  top: 50px;
  left: 110px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ff0000;
}

.effect ul li .hooks-main2 div:nth-child(2) {
  left: 45px;
  top: 70px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ffe06d;
}

.effect ul li .hooks-main2 div:nth-child(3) {
  left: 120px;
  top: 100px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ff5ef3;
}

.liquid {
  position: relative;
  height: 400px;
}

.liquid ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.liquid ul li {
  position: relative;
  width: 190px;
  height: 190px;
  border: 1px solid #eee;
  margin-right: 10px;
  margin-top: 8px;
  padding: 8px;
}

@media (max-width: 700px) {
  .liquid ul li {
    width: 100%;
    height: 200px;
    margin-right: 4px;
  }
}

.liquid ul .color {
  width: 55px;
  height: 55px;
  background: #ffdbdd;
  -webkit-animation: color 2s infinite alternate;
          animation: color 2s infinite alternate;
  border-radius: 5px;
  position: absolute;
}

@-webkit-keyframes color {
  from {
    background: #ffdbdd;
    left: 20px;
    top: 40px;
  }
  to {
    background: #ff6d6d;
    left: 140px;
    top: 130px;
    border-radius: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes color {
  from {
    background: #ffdbdd;
    left: 20px;
    top: 40px;
  }
  to {
    background: #ff6d6d;
    left: 140px;
    top: 130px;
    border-radius: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.liquid ul .icon-stroke-ani svg {
  width: 48px;
  height: 48px;
}

.liquid .ball {
  position: absolute;
  top: 0px;
  left: 50px;
  fill: #023F92;
  width: 100px;
  -webkit-animation: move 1s ease-in-out infinite;
          animation: move 1s ease-in-out infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(1) translate(0px, 20px);
            transform: scale(1) translate(0px, 20px);
  }
  40% {
    -webkit-transform: scale(1.5, 1) translate(0vw, 13vh);
            transform: scale(1.5, 1) translate(0vw, 13vh);
  }
  100% {
    -webkit-transform: scale(1) translate(0px, 20px);
            transform: scale(1) translate(0px, 20px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: scale(1) translate(0px, 20px);
            transform: scale(1) translate(0px, 20px);
  }
  40% {
    -webkit-transform: scale(1.5, 1) translate(0vw, 13vh);
            transform: scale(1.5, 1) translate(0vw, 13vh);
  }
  100% {
    -webkit-transform: scale(1) translate(0px, 20px);
            transform: scale(1) translate(0px, 20px);
  }
}

@media (max-width: 900px) {
  section {
    width: 90%;
    padding: 15px;
  }
  section:nth-of-type(1) div {
    width: 150px;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */